@font-face {
  font-family: UbuntuMono;
  src: url(fonts/UbuntuMono-R.ttf);
}
@font-face {
  font-family: UbuntuMono;
  src: url(fonts/UbuntuMono-B.ttf);
  font-weight: bold;
}
@font-face {
  font-family: FreeSerif;
  src: url(fonts/FreeSerif.ttf);
}
@font-face {
  font-family: FreeSerif;
  src: url(fonts/FreeSerifBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: FreeSerif;
  src: url(fonts/FreeSerifItalic.ttf);
  font-style: italic, oblique;
}
@font-face {
  font-family: FreeSerif;
  src: url(fonts/FreeSerifBoldItalic.ttf);
  font-weight: bold;
  font-style: italic, oblique;
}

div.source-code {
  font-family: 'UbuntuMono', monospace;
  font-size: 90%;
  background-color: #ddd;
  color: #000;
  padding: 10px 20px 10px 20px;
  line-height: 120%;
}
div.source-code span.num {
  color: #444;
}
div.source-code span.modified {
  font-weight: bold;
}
div.source-code del {
  font-weight: bold;
  text-decoration: line-through;
}
div.source-code span.path {
  text-decoration: underline;
  color: #444;
}
div.excerpt {
  font-family: 'UbuntuMono', monospace;
  font-size: 90%;
  border: 1px solid #888;
  color: #000;
  padding: 10px 20px 10px 20px;
  line-height: 120%;
}
div.command-line {
  font-family: 'UbuntuMono', monospace;
  background-color: #444;
  color: #fff;
  padding: 10px 20px 10px 20px;
  line-height: 120%;
}
div.command-line span.prompt {
  color: #888;
}
div.column {
  padding: 0 20px 10px 20px;
  border: 1px solid #666;
  background-color: #ddd;
  color: #000;
}
h3.column {
  padding: 5px;
  background-color: #666;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
div.note {
  font-size: small;
  margin: 20px;
  padding: 0 20px 10px 20px;
  border: 1px solid #666;
  border-radius: 10px;
}
p {
  font-family: 'FreeSerif', sanserif;
}
p code, li code, h1 code, h2 code, h3 code, h4 code, h5 code, h6 code  {
  margin: 0 0.1em;
  font-family: 'UbuntuMono', monospace;
  font-size: 100%;
}
